


#mainpnl {
    box-shadow: initial;
}

#mainpnl h1
{
    text-align: center;
    margin-top: 0;
    margin-bottom: 24px;
    font-weight: bold;
    color: #CFCFCF;
    text-shadow: #000 0 0 2px, #666 0 0 8px;
}

.edge-btn {
    position: absolute;
    border-color: #888 !important;
}

pre.yellow-code,
pre.yellow-code span {
    background: none;
}

#theme-switch {
    fill: #EA0;
}

#theme-switch:hover {
    fill: #88F;
}